.maincontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    &__text {
      font-size: 3rem;
      font-weight: 700;
      color: #fff;
    }
    &__view {
      font-size: 1.5rem;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__genres {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    gap: 2rem;
  }
  &__recentlyplayed {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
  }
  &__stories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
}
.header {
  display: flex;
  //   justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
  background-color: #2e335a;

  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  &__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      $size: 5rem;
      width: $size;
      height: $size;

      background-color: #fff;
      border-radius: 25%;
    }
    &__text {
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #ffffffc8;
    border-radius: 0.5rem;
    flex-grow: 2;
    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1.5rem;
      min-width: calc(100% - 3rem);
      &::placeholder {
        color: #ffffff86;
      }
    }
    &__icon {
      $size: 1.8rem;
      width: $size;
      height: $size;
      fill: #ffffffa4;
    }
  }
}
.banner {
  display: flex;
  margin: 2rem;
  height: 20rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  &:hover {
    .banner__overlay {
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
    &__title {
      font-size: 5rem;
      font-weight: 700;
      color: #fff;
    }
    &__subtitle {
      font-size: 2rem;
      font-weight: 500;
      margin-left: 0.5rem;
      color: #fff;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: backdrop-filter 0.3s;
  }
}
.genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff1a;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  min-height: 20rem;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__details {
    position: absolute;
    bottom: 0;
    top: 42%;
    left: 0;
    right: 0;
    background-color: #28282896;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 2;
    border-radius: 1rem 1rem 0.5rem 0.5rem;

    // overflow: hidden;
    &__container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: -2rem;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top: 0;
      &__avatar {
        width: 4rem;
        height: 4rem;
        align-self: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
          border: 0.5rem solid #fff;
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        padding-top: 0;
        flex-grow: 2;
        &__title {
          font-size: 3rem;
          font-weight: 700;
          color: #fff;
        }
        &__desc {
          font-size: 1.1rem;
          font-weight: 500;
          color: #ffffff8e;
        }
        &__songs {
          display: flex;
          align-items: center;
          gap: 1rem;
          flex-grow: 2;
          align-items: flex-end;
          &__icon {
            $size: 1.3rem;
            width: $size;
            height: $size;
            fill: #ffffff8e;
          }
          &__text {
            font-size: 1.3rem;
            font-weight: 500;
            color: #ffffff8e;
            line-height: 1.2rem;
          }
        }
      }
    }
  }
}
.mediaplayer {
  position: sticky;
  bottom: 0.5rem;
  left: 0;
  margin: 0 2rem;
  border-radius: 1rem;
  height: 10rem;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
  overflow: hidden;
  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    &__image {
      $size: 6rem;
      width: $size;
      height: $size;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      &__title {
        font-size: 1.9rem;
        font-weight: 700;
        color: #fff;
      }
      &__artist {
        font-size: 1.2rem;
        font-weight: 500;
        color: #ffffff77;
      }
    }
    &__icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      align-self: baseline;
      margin-top: 1rem;
      &__icon {
        $size: 1.7rem;
        width: $size;
        height: $size;
        fill: #ffffffa4;
      }
    }
  }
  &__controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 2;
    align-items: center;
    z-index: 5;
    padding: 0 4rem;
    &__play {
      display: flex;
      align-items: center;
      gap: 2rem;
      justify-content: space-between;
      width: 100%;
      &__smallicon {
        $size: 1.8rem;
        width: $size;
        height: $size;
        fill: #ffffffa4;
        cursor: pointer;
        &:hover {
          fill: #ffffff;
        }
      }
      &__icon {
        $size: 2.3rem;
        width: $size;
        height: $size;
        fill: #000000a4;
        background-color: #ffffffa4;
        border-radius: 50%;
        cursor: pointer;
        padding: 4px 3px 3px 5px;
        &:hover {
          background-color: #ffffff;
        }
      }
      &__soundbar {
        position: relative;

        width: 8rem;
        height: 0.5rem;
        background-color: #ffffff27;
        border-radius: 0.5rem;
        &__progress {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 50%;
          $color: #ffffff;
          background-color: $color;
          box-shadow: 0 2px 9px 0px $color;
        }
      }
      &__container {
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
    &__progress {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      position: relative;
      &__time {
        font-size: 1.2rem;
        font-weight: 500;
        color: #ffffff;
      }
      &__bar {
        position: relative;
        flex-grow: 2;
        width: 100%;
        height: 0.5rem;
        // background-color: #ffffffa4;
        border-radius: 0.5rem;
        background-color: #ffffff27;

        &__progress {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 50%;
          $color: #ffffff;
          background-color: $color;
          box-shadow: 0 2px 9px 0px $color;
        }
      }
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #00eaff73,
      #00d4ff73,
      #00b4ff73,
      #a982ff73,
      #ff00d873
    );
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    transition: backdrop-filter 0.3s;
  }
}
.recentlyplayed {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  &__image {
    $size: 16rem;
    width: $size;
    height: 13rem;
    background-color: #ffffff4f;
    padding: 1rem 0;
    border-radius: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
    }
    &__artist {
      font-size: 1.2rem;
      font-weight: 500;
      color: #ffffff77;
    }
  }
}
.storymusic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  &__image {
    $size: 9rem;
    width: $size;
    height: $size;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
    }
    &__artist {
      font-size: 1.2rem;
      font-weight: 500;
      color: #ffffff77;
    }
  }
}
